.git
.gitignore
.github
tests/
docs/
examples/
*.md
!README.md
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
coverage.xml
.coverage
database.db
logs/
data/
build/
.fly/
docker-compose*.yml
.env
*.log
helm.log
